@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Normalize */

* {
     margin: 0;
     padding: 0; 
     box-sizing: border-box;
}

html {
     font-size: 62.5%;
}

/* Body todas las paginas */ 

body {
     font-family: Poppins;
     background-image: linear-gradient(to left, #fff1eb 0%, #ace0f9 100%);
}

/* Header y barra de navegacion todas las paginas */

header {
     background-size: 100%;
     background-repeat: no-repeat;
     background-attachment: fixed;
     height: 60vw;
}

.navbar-nav {
     display: flex;
     list-style-type: none;
     gap: 2rem;
     align-items: center;
}

.navbar-toggler {
     background-color: #f0d5b2;
}

#menu-navegacion .navbar-nav .nav-link {
     font-weight: 600;
     font-size: 1.8em;
     color: black;
     background-color: #f0d5b2;
     border: 1px solid #2b2b2b;
     border-radius: 0.5em;
     text-decoration: none;
     padding: 0.5rem;
}

.nav-link:hover {
     color: #2b2b2b;
     background-color: white;
     transition: background-color 2s;
} 

/* inicio footer todas las paginas */

.footer {
     font-weight: 500;   
     font-size: 1.5rem;
     padding: 40px;
     display: flex;
     justify-content: space-between;
     align-items: center; 
     background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.footer__contactos {
     display: flex ;
     align-items: center;
     gap: 15px;
}

/* inicio historia y trayectoria */

#nosotros-header {
     position: absolute;
     z-index: 101;
     width: 100%;
}

.header-video-nosotros {
     width: 100%;
     height: 60vw;
     object-fit: cover;
     background-attachment: fixed;
}

#historia-trayectoria {
     display: grid;
     grid-template-columns: 2fr 2fr;
     grid-template-rows: 2fr 2fr;
     align-items: center;
     justify-items: center;
     padding: 40px;
     column-gap: 20px;
}

.historia__titulo {
     font-weight: 700;
     font-size: 3rem;
     text-align: center;
     text-decoration: underline;
     padding: 20px;
}

.historia .historia__img {
     width: 100%;
     border-radius: 10%;
}

.historia__texto {
     font-weight: 500;
     font-size: 1.5rem;
     text-align: justify;
     width: 100%;
     background: rgba( 255, 255, 255, 0.2 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 3px );
     -webkit-backdrop-filter: blur( 3px );
     border-radius: 10px;
     border: 20px solid rgba( 255, 255, 255, 0.18 );
}

.trayectoria__titulo {
     font-weight: 700;
     font-size: 3rem;
     text-align: center;
     text-decoration: underline;
     padding: 20px;
}

.trayectoria__texto {
     font-weight: 500;
     font-size: 1.5rem;
     text-align: justify;
     grid-column: 1/2;
     grid-row: 2;
     width: 100%;
     background: rgba( 255, 255, 255, 0.2 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 3px );
     -webkit-backdrop-filter: blur( 3px );
     border-radius: 10px;
     border: 20px solid rgba( 255, 255, 255, 0.18 );
}

.trayectoria__img {
     width: 100%;
     border-radius: 10%;
}

/* Proyectos */

#proyectos {
     background-image: url(../imagenes/proyectos.jpg);
}

.title-proyectos {
     font-weight: 700;
     font-size: 3rem;
     text-align: center;
     text-decoration: underline;
     padding: 1em;
}

#bull-naranjos {
     display: grid;
     grid-template-columns: 2fr 2fr;
     grid-template-rows: auto;
     align-items: center;
     justify-items: center;
     padding: 40px;
     column-gap: 2em;
}

/*inicio proyecto bull tower */

.tower {
    grid-column: 1/2;
    grid-row: 1;
    padding-bottom: 3em;
}

.tower__img {
     width: 100%;
     height: 100%;
     border-radius: 10%;
}

.tower-art {
     grid-column: 2/2;
     grid-row: 1/2;
     font-weight: 500;
     font-size: 1.5rem;
     width: 100%;
     padding: 0.8em;
     background: rgba( 255, 255, 255, 0.2 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 3px );
     -webkit-backdrop-filter: blur( 3px );
     border-radius: 10px;
     border: 20px solid rgba( 255, 255, 255, 0.18 );
}

.tower__title {
     font-weight: 600;
     font-size: 2.5rem;
     text-decoration: underline;
     text-align: center;
     padding: 2rem;
}

.tower-art__list {
     list-style-type: none;
     text-align: justify;
}

/* inicio proyecto los naranjos*/

.los-naranjos__title {
     font-weight: 600;
     font-size: 2.5rem;
     text-decoration: underline;
     text-align: center;
     padding: 2rem;
}

.los-naranjos {
     grid-column: 2/2;
     grid-row: 2/2;
}

.los-naranjos__img {
     width: 100%;
     border-radius: 10%;
}

.los-naranjos-art {
     grid-column: 1/2;
     grid-row: 2/2;
     font-weight: 500;
     font-size: 1.5rem;
     width: 100%;
     background: rgba( 255, 255, 255, 0.2 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 3px );
     -webkit-backdrop-filter: blur( 3px );
     border-radius: 10px;
     border: 20px solid rgba( 255, 255, 255, 0.18 );
}

.los-naranjos-art__list {
     list-style-type: none;
     text-align: justify;
}

/* Compras */

#compras {
     background-image: url(../imagenes/sevende.jpg);
}

.title-compras {
     font-weight: 700;
     font-size: 3rem;
     text-align: center;
     text-decoration: underline;
     padding: 1em;
}
     
#forum-villa {
     display: grid;
     grid-template-columns: 2fr 2fr;
     grid-template-rows: auto;
     align-items: center;
     justify-items: center;
     padding: 40px;
     column-gap: 2em;
     row-gap: 2em; 
}

/* inicio torre forum */

.forum-art {
     font-weight: 500;
     font-size: 1.5rem;
     text-align: justify;
     width: 100%;
     background: rgba( 255, 255, 255, 0.2 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 3px );
     -webkit-backdrop-filter: blur( 3px );
     border-radius: 10px;
     border: 20px solid rgba( 255, 255, 255, 0.18 ); 
}

.forum-art__title {
     font-weight: 600;
     font-size: 2.5rem;
     text-decoration: underline;
     text-align: center;
     padding: 2rem;
}

.forum-art__list {
     list-style: none; 
}

span {
     display: block;
}

/* inicio villa nehuen */

.villa-img {
     width: 100%;
     border-radius: 8%;
}

.villa-art {
     font-weight: 500;
     font-size: 1.5rem;
     text-align: justify;
     width: 100%;
     background: rgba( 255, 255, 255, 0.2 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 3px );
     -webkit-backdrop-filter: blur( 3px );
     border-radius: 10px;
     border: 20px solid rgba( 255, 255, 255, 0.18 ); 
}

.villa-art__title {
     font-weight: 600;
     font-size: 2.5rem;
     text-decoration: underline;
     text-align: center;
     padding: 2rem;
}

.villa-art__list {
     list-style: none;
}

span {
     display: block;
}

/* Alquileres */

#alquileres {
     background-image: url(../imagenes/alquiler.jpg);
}

.title-alquileres {
     font-weight: 700;
     font-size: 3rem;
     text-align: center;
     text-decoration: underline;
     padding: 1em; 
}

#principado-acequias {
     display: grid;
     grid-template-columns: 2fr 2fr;
     grid-template-rows: auto;
     align-items: center;
     justify-items: center;
     padding: 40px;
     column-gap: 2em;
     row-gap: 2em;  
}

/* inicio edificio principado */

.principado__img {
     width: 100%;
     border-radius: 8%; 
}

.principado-art {
     font-weight: 500;
     font-size: 1.5rem;
     text-align: justify;
     width: 100%;
     height: 100%;
     background: rgba( 255, 255, 255, 0.2 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 3px );
     -webkit-backdrop-filter: blur( 3px );
     border-radius: 10px;
     border: 20px solid rgba( 255, 255, 255, 0.18 ); 
}

.principado-art__title {
     font-weight: 600;
     font-size: 2.5rem;
     text-decoration: underline;
     text-align: center;
     padding: 2rem;
}

.principado-art__list {
     list-style-type: none;
     text-align: justify;
}

/* inicio las acequias */

.acequias {
     grid-column: 2/2;
     grid-row: 1/2;    
}

.acequias__img {
     width: 100%;
     border-radius: 8%;
}

.acequias-art {
     font-weight: 500;
     font-size: 1.5rem;
     text-align: justify;
     width: 100%;
     background: rgba( 255, 255, 255, 0.2 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 3px );
     -webkit-backdrop-filter: blur( 3px );
     border-radius: 10px;
     border: 20px solid rgba( 255, 255, 255, 0.18 ); 
}

.acequias-art__title {
     font-weight: 600;
     font-size: 2.5rem;
     text-decoration: underline;
     text-align: center;
     padding: 2rem;
}

.acequias-art__list {
     list-style-type: none;
     text-align: justify;
}


/* Contacto */

#contacto {
     background-image: url(../imagenes/contacto.jpg);
}

.title-contacto {
     margin: 3rem;
     text-align: center;
     text-decoration: underline;
}

form {
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
     margin-bottom: 2rem;
}

form label {
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"] {
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"] {
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover {
	cursor:pointer;
}

textarea {
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}

@media screen and (max-width: 830px) {

     .navbar {
          flex-direction: column;
          margin: auto;
          padding: 2rem;
     }

     .navbar-nav {
          padding-top: 2em;
     }

     .menu-logo {
          margin: auto;
     }
}

@media screen and (max-width: 644px) {
 
     #historia-trayectoria {
          display: grid;
          grid-template-columns: 2fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          align-items: center;
          justify-items: center;
          padding: 40px;
          margin-top: 10px;
     }

     .trayectoria__texto {
          text-align: justify;
          grid-row: 4;
          width: 100%;
     } 

     #bull-naranjos {
          display: grid;
          grid-template-columns: 2fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          padding: 40px;   
     }

     .tower-art {
          grid-column: 1;
          grid-row: 2;
     }

     .los-naranjos {
          grid-column: 1;
          grid-row: 3;
     }
     
     .los-naranjos-art {
          grid-column: 1;
          grid-row: 4;
     }

     #forum-villa {
          display: grid;
          grid-template-columns: 2fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          padding: 40px;  
     }

     #principado-acequias {
          display: grid;
          grid-template-columns: 2fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          padding: 40px;  
     }

     .principado-art {
          grid-column: 1;
          grid-row: 2; 
     }

     .acequias {
          grid-column: 1;
          grid-row: 3; 
     }

     .acequias-art {
          grid-column: 1;
          grid-row: 4; 
     }
     
     .footer {
          flex-direction: column;
     }
   
}

@media screen and (max-width: 576px) {

     #proyectos {
          height: 0%;
          background-size: 100vw;
     }
     
     #compras {
          height: 0%;
          background-size: 100vw;
     }
}

