@media screen and (max-width: 930px) {
    #consulta {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 1fr 1fr;

        form {
            grid-row: 1;
        }
    
        .sucursales {
            grid-row: 2;
        }
    
        .mapa {
            grid-row: 3;
        }
    } 
}

@media screen and (max-width: 830px) {

    .navbar {
         flex-direction: column;
         margin: auto;
         padding: 2rem;
    }

    .navbar-nav {
         padding-top: 2em;
    }

    .menu-logo {
         margin: auto;
    }
}

@media screen and (max-width: 644px) {

    /* Nosotros */

    #historia-trayectoria {
         display: grid;
         grid-template-columns: 2fr;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         align-items: center;
         justify-items: center;
         padding: 40px;
         margin-top: 10px;

        .historia__texto {
            text-align: justify;
            grid-row: 2;
            width: 100%;
        } 

        .trayectoria__texto {
            text-align: justify;
            grid-row: 4;
            width: 100%;
        } 
    }

    /* Proyectos */

    #bull-naranjos {
         display: grid;
         grid-template-columns: 2fr;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         padding: 40px; 
         
        .tower__img {
            height: auto;
        } 
         
        .tower-art {
            grid-column: 1;
            grid-row: 2;
        }
   
        .los-naranjos {
            grid-column: 1;
            grid-row: 3;
            padding-bottom: 0;

            &__img {
                height: 30vh;
            }
        }

        .los-naranjos-art {
            grid-column: 1;
            grid-row: 4;
        }
    }

    /* Compras */

    #forum-villa {
         display: grid;
         grid-template-columns: 2fr;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         padding: 40px;  
    }

    /* Alquileres */

    #principado-acequias {
         display: grid;
         grid-template-columns: 2fr;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         padding: 40px;  

        .principado-art {
            grid-column: 1;
            grid-row: 2; 
        }
   
        .acequias {
            grid-column: 1;
            grid-row: 3; 
        }
   
        .acequias-art {
            grid-column: 1;
            grid-row: 4; 
        }
    }

    /* Contacto */

    form {
        margin: 0;
        width: 300px;
        font-size: 12px;
    }

    /* Footer */

    .footer {
        flex-direction: column;

        &__copy {
            text-align: center;
        }
    }
}

@media screen and (max-width: 576px) {

    #historia-trayectoria {
        grid-template-rows: 60rem 1fr 60rem 1fr;
    }

    .header-video-nosotros {
        height: 80vw;
    } 

    #proyectos {
        height: 0%;
        background-size: 100vw;
    }

    .title-proyectos {
        padding: 1.3rem;
        margin: 0;
    }
    
    #compras {
        height: 0%;
        background-size: 100vw;
    }

    #alquileres {
        height: 0%;
        background-size: 100vw;
    }

    #contacto {
        height: 0%;
        background-size: 100vw;
    }
}